.header {
    width: 100%;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        letter-spacing: 4px;
        transition: 0.2s;
        position: relative;
        cursor: default;

        &:hover {
            scale: 120%;
            letter-spacing: 6px;
            transition: 0.2s;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;

        a {
            cursor: pointer;
            font-size: 1.25rem;
            color: var(--color-white);
            list-style-type: none;
            position: relative;
            transition: .2s;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;

            &:hover {
                transition: .2s;
                scale: 120%;

                &::after {
                    content: ' ';
                    position: absolute;
                    height: 1px;
                    background-color: var(--color-white);
                    width: 100%;
                    left: 0;
                    bottom: -5px;
                }
            }
        }
    }
}